
.close{
	-fx-background-color:transparent;
	-fx-text-fill: #38d3ff;
}
.SubmitBTN{
	-fx-background-color:  #3885ff !important;
	-fx-text-fill: #dee4fa;
}

.cadastrarBTN{
	-fx-background-color : #3552c8 !important;
	-fx-text-fill: #dee4fa;
}

.SubmitBTN:hover, .close:hover, .cadastrarBTN:hover{
	-fx-background-color : #38d3ff !important;
	-fx-text-fill: #31247e;
}

.SubmitBTN:active, .cadastrarBTN:active{
	-fx-background-color : white !important;
}

.titleBar{
	-fx-background-color : linear-gradient(to right top, #31247e, #4263e6);
}

 .maxmize{
 		-fx-background-color: transparent;
 }
 
 .maxmize:hover{
 	-fx-background-color: #38d3ff !important;
 }

 .pacienteBTN{
 	-fx-background-color: transparent;
 	-fx-text-fill: black;
 	-fx-background-radius: 0;
 	-fx-cursor: hand;
 }
 
  .pacienteBTN:hover{
 	-fx-background-color: #4263e6;
 }
 